main {
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  text-align: left;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

dl {
  display: grid;
  grid-template-columns: auto;
  gap: 0.5rem 2rem;
}

dl#playerInfo {
  grid-template-columns: auto  auto;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0;
}

.error {
  color: #b00020;
}

#new-player {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

#guess {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
  justify-content: center;
}

#player {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#player > dl {
  flex: 1 1 15rem;
}

#career {
  display: flex;
  flex-direction: column;
  align-items: center;
}